<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shiv + Michele</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">

        <meta name="robots" content="noindex, nofollow">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Fonts from Font Awsome -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
         <!-- Magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Color options -->
        <link rel="stylesheet" href="css/custom.css">

        <!-- Fonts -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'> -->
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Sail' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- Feature detection -->
        <script src="javascript/modernizr-2.6.2.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="javascript/plugins/html5shiv.js"></script>
          <script src="javascript/plugins/respond.min.js"></script>
        <![endif]-->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57024437-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
    <!-- welcome begins -->
    <section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="#"></a></li>
              <li><a id="vegas-prev" class="prev" href="#"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                  <!-- Text Slider -->
                    <div class="flexslider ">
                      <ul class="home-slides">
                        <li>Shiv + <span>Michele</span></li>
                        <li>Sonoma, <span>CA</span></li>
                        <li>August 15, <span>2015</span></li>
                      </ul>
                    </div>
                     <p class="intro-text">We can't wait to celebrate!</p>
                      <!-- End Text Slides -->
                <a href="#page-our-story" class="btn btn-default learn-more"><span data-hover="Our Story">Our Story</span></a>
            </div>
        </div>
    </section><!-- welcome ends -->
    <!-- Nav starts -->
     <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shivele</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-effect" id="main-menu">
            <li><a href="#page-welcome"><span data-hover="Top">Top</span></a></li>
            <li><a href="#page-our-story"><span data-hover="Our Story">Our Story</span></a></li>
            <li><a href="#page-the-wedding"><span data-hover="The Wedding">The Wedding</span></a></li>
            <li><a href="#page-wedding-party"><span data-hover="Wedding Party">Wedding Party</span></a></li>
            <li><a href="#page-accommodations"><span data-hover="Accommodations">Accommodations</span></a></li>
            <li><a href="#page-faq"><span data-hover="FAQs">FAQ<span class="faq-s">s</span></span></a></li>
            <li><a href="#page-registry"><span data-hover="Registry">Registries</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!-- Nav ends -->
<!-- our story begins -->
    <section id="page-our-story" class="page-about">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Our Story</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">A little bit on how we met and how we spend our time. </p>
                </header>
          <div class="row">
              <div class="col-md-3 text-center">
                <div class="google hi-icon-effect-1">
                  <i class="hi-icon fa fa-google"></i>
                </div>
                <header class="process-header">
                  <h3>Google</h3>
                  <p>It's a well-known fact that we met at Google. Our teams merged back in the summer of '09 and the rest is history! </p>
                </header>
              </div>
             <div class="col-md-3 text-center">
                <div class="music hi-icon-effect-1">
                  <i class="hi-icon fa fa-music"></i>
                </div>
                 <header class="process-header">
                  <h3>Music</h3>
                  <p>Music is a shared passion between us! Whether we are at a live show or in the car, music narrates our life together. </p>
                </header>
               </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 travel">
               <i class="hi-icon fa fa-plane"></i>
              </div>
               <header class="process-header">
                  <h3>Travel</h3>
                  <p>Japan, Hong Kong, Spain, Germany, Czech Republic, and India. The world has so much to offer and we want to see it all! </p>
                </header>
              </div>
              <div class="col-md-3 text-center">
              <div class="hi-icon-effect-1 sf">
                <i class="hi-icon"><img src="images/bridge.png" alt=""></i>
              </div>
               <header class="process-header">
                  <h3>San Francisco</h3>
                  <p>We take advantage of living amongst good food and good friends in our foggy little city called San Francisco. </p>
                </header>
              </div>

          </div>
      </div>
    </section><!-- about ends -->
    <!-- highlight section begins -->
          <section class="highlight">
          <div class="container">
               <header class="section-header">
                    <h2>Counting down to the big day</h2>
                    <p class="section-subtitle">Get ready, because it's about to go down! </p>
                </header>
          <div id="countdown" class="row"></div>

          <!-- <div class="row">
            <div class="col-md-3">
              <div class="count">
                {o<}<div class="counter">{on}</div>{o>}
                <h3>Months</h3>
              </div>
            </div>
            <div class="col-md-3">
               <div class="count">
              {d<}<div class="counter">{dn}</div>{d>}
              <h3>Days</h3>
              </div>
            </div>
            <div class="col-md-3">
               <div class="count">
              {h<}<div class="counter">{hn}</div>{h>}
              <h3>Hours</h3>
              </div>
            </div>
            <div class="col-md-3">
               <div class="count">
              {m<}<div class="counter">{mn}</div>{m>}
              <h3>Minutes</h3>
              </div>
            </div>
          </div> -->

          </div>
          </section><!-- highlight section ends -->
           <!-- parallax quote begins -->
            <section id="parallax-quote" class="parallax">
                <div class="parallax-background1 parallax-background"></div><!-- parallax bg image -->
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="parallax-content">
                        </div>
                      </div>
                  </div>
                </div>
            </section><!-- parallax quote end -->
<!-- the wedding begins -->
     <section id="page-the-wedding" class="page-services">
       <div class="container">
                 <header class="section-header">
                    <h2 class="section-title"><span>the wedding</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle">We're planning an amazing weekend in wine country. Please take a look and make your plans accordingly. Exact details will be added as they are determined. Please check back often for updates or sign up for our mailing list below.</p>
                </header>
            <div class="row">
               <div class="col-md-3">
                <div class="service-block">
                  <div class="service-icon">
                     <i class="fa fa-glass"></i>
                    </div>
                    <h3>Friday</h3>
                     <p>Come meet the wonderful friends and family with whom you'll be spending your weekend.</p>
                     <table>
                        <tr>
                          <!-- <td class="time">7pm</td> -->
                          <td class="event">Welcome dinner - Hyatt</td>
                        </tr>
                     </table>
                   </div>
                </div>
               <div class="col-md-3">
                <div class="service-block">
                  <div class="service-icon">
                     <i class="fa fa-sun-o"></i>
                    </div>
                    <h3>Saturday AM</h3>
                     <p>The first half of the day will be devoted to celebrating in the Hindu tradition.</p>
                     <table>
                        <tr>
                          <!-- <td class="time">10am</td> -->
                          <td class="event">Brunch</td>
                        </tr>
                        <tr>
                          <!-- <td class="time">11:30am</td> -->
                          <td class="event">Hindu wedding ceremony - Hyatt</td>
                        </tr>
                        <tr>
                          <!-- <td class="time">1pm</td> -->
                          <td class="event">Please enjoy a break to rest up, change, or let the kids play!</td>
                        </tr>
                     </table>
                   </div>
                </div>
               <div class="col-md-3">
              <div class="service-block">
                <div class="service-icon">
                      <i class="fa fa-moon-o"></i>
                    </div>
                    <h3>Saturday PM</h3>
                     <p>The second half of the day will be devoted to celebrating in the Catholic tradition, followed by a dinner and celebration to round out the day.</p>
                     <table>
                       <tr>
                         <!-- <td class="time">3-4pm</td> -->
                         <td class="event">Shuttles to Cornerstone - front of Hyatt</td>
                       </tr>
                       <tr>
                         <!-- <td class="time">5pm</td> -->
                         <td class="event">Catholic wedding ceremony - Cornerstone</td>
                       </tr>
                       <tr>
                         <!-- <td class="time">6pm</td> -->
                         <td class="event">Wedding reception - Cornerstone</td>
                       </tr>
                       <tr>
                         <!-- <td class="time">10pm-midnight</td> -->
                         <td class="event">Shuttles back to hotels</td>
                       </tr>
                     </table>
               </div>
            </div>
               <div class="col-md-3">
                <div class="service-block">
                 <div class="service-icon">
                     <i class="fa fa-cutlery"></i>
                    </div>
                    <h3>Sunday</h3>
                     <p>Join us for one last meal together before we see you off!</p>
                     <table>
                       <tr>
                         <!-- <td class="time">8-11am</td> -->
                         <td class="event">Farewell brunch - Hyatt</td>
                       </tr>
                     </table>
               </div>
            </div>
          </div>
        </div>
    </section><!-- services ends -->

    <section id="mailing-list" class="highlight">
      <div class="container">
        <header class="section-header">
          <h2>Mailing List</h2>
          <p class="section-subtitle">We're still finalizing a few details like the timeline of events, hotel rates, and wedding registries. If you would like to receive updates as we sort these items out, please enter your email address below.</p>
        </header>
        <div class="row">
          <form action="/" method="post" class="form-horizontal" id="contact-form">
            <div class="control-group col-md-9">
              <div class="controls">
                <input type="text" name="email" id="email" placeholder="Your email address" class="form-control input-lg mailing-list-input">
              </div>
            </div>
            <div class="form-actions col-md-3">
                <button type="submit" class="btn btn-default btn-lg btn-block mailing-list-button">Submit</button>
            </div>
          </form>
        </div>
        <div class="row form-success-box hidden">
          <p class="form-success col-md-12"></p>
      </div>
    </section>

<!-- wedding party begins -->
     <section id="page-wedding-party" class="page-portfolio-controls">
          <div class="container">

                <header class="section-header">
                    <h2 class="section-title"><span>Wedding Party</span></h2>
                      <div class="spacer"></div>
                    <p class="section-subtitle">Some of the finest folks you'll meet are a part of our wedding.</p>
                </header>

                <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls">
                  <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a></li>
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-guys">Guys</a></li>
                  <li class="filter" ><a href="javascript:void(0)" data-filter=".sort-gals">Gals</a></li>
                  <li class="filter"><a href="javascript:void(0)"  data-filter=".sort-kids">Kiddos</a></li>
                </ul>
              </div>
            </div>
            </section><!-- portfolio controls ends -->

            <!-- portfolio begins -->
            <section id="page-portfolio" class="page-portfolio">
                  <ul id="grid" class="grid-wrapper">
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/aaron-large.jpg"><div class="overlay"><span>Aaron Weissman</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/aaron-small.jpg" alt="" ></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/nicole-large.jpg"><div class="overlay"><span>Nicole Tatro</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/nicole-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/miraj-large.jpg"><div class="overlay"><span>Miraj Sanghvi</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/miraj-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/angel-large.jpg"><div class="overlay"><span>Angel Mehta</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/angel-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/utsav-large.jpg"><div class="overlay"><span>Utsav Sethi</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/utsav-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals sort-kids">
                        <a href="images/bridal_party/large/phoebe-large.jpg"><div class="overlay"><span>Phoebe Robeson</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/phoebe-small.jpg" alt=""></a></li>

                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/rupa-large.jpg"><div class="overlay"><span>Rupa Kumar</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/rupa-small.jpg" alt=""></a></li>
                      <li class="mix sort-kids">
                        <a href="images/bridal_party/large/austin-large.jpg"><div class="overlay"><span>Austin Grunder</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/austin-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/jordana-large.jpg"><div class="overlay"><span>Jordana Grunder</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/jordana-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/moose-large.jpg"><div class="overlay"><span>Mustafa Nawaz</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/moose-small.jpg" alt=""></a></li>
                      <li class="mix sort-kids">
                        <a href="images/bridal_party/large/sonaly-large.jpg"><div class="overlay"><span>Sonaly Chandoke</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/sonaly-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/sammy-large.jpg"><div class="overlay"><span>Sameer Mahmood</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/sammy-small.jpg" alt=""></a></li>

                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/kyle-large.jpg"><div class="overlay"><span>Kyle Tatro</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/kyle-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/smitha-large.jpg"><div class="overlay"><span>Smitha Gandra</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/smitha-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/harsh-large.jpg"><div class="overlay"><span>Harsh Kondapalli</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/harsh-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/lisa-large.jpg"><div class="overlay"><span>Lisa Sunseri</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/lisa-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/evan-large.jpg"><div class="overlay"><span>Evan Blaser</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/evan-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/nahal-large.jpg"><div class="overlay"><span>Nahal Lakhani</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/nahal-small.jpg" alt=""></a></li>

                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/steph-large.jpg"><div class="overlay"><span>Stephanie Sunseri</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/steph-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/amish-large.jpg"><div class="overlay"><span>Amish Desai</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/amish-small.jpg" alt=""></a></li>
                      <li class="mix sort-gals">
                        <a href="images/bridal_party/large/ayumi-large.jpg"><div class="overlay"><span>Ayumi Rogers</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/ayumi-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys">
                        <a href="images/bridal_party/large/samir-large.jpg"><div class="overlay"><span>Samir Balaney</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/samir-small.jpg" alt=""></a></li>
                      <li class="mix sort-kids">
                        <a href="images/bridal_party/large/livia-large.jpg"><div class="overlay"><span>Livia Tatro</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/livia-small.jpg" alt=""></a></li>
                      <li class="mix sort-guys sort-gals">
                        <a href="images/bridal_party/large/shiv-michele-large.jpg"><div class="overlay"><span>Shivele Kumella</span><i class="fa fa-search"></i></div><img src="images/bridal_party/small/shiv-michele-small.jpg" alt=""></a></li>


                  </ul>
    </section><!-- portfolio ends -->
     <!-- parallax connect feed begins -->
            <section id="parallax-connect" class="parallax">
                <div class="parallax-background2 parallax-background"></div><!-- parallax bg image -->
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="parallax-content">
                        </div>
                      </div>
                  </div>
                </div>
            </section><!-- parallax connect feed ends -->
<!-- accommodations begins -->
     <section id="page-accommodations" class="page-team">
       <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span>Accommodations</span></h2>
                     <div class="spacer"></div>
                    <p class="section-subtitle">Below is all the information you need to know to plan your stay out here. Contracted rates with both the Hyatt and Courtyard Marriott are still being worked out. We recommend booking as early as possible as we can't guarantee rates past June. Be sure to also check out our FAQ for other helpful planning tips. If you have any questions, please email us. Happy planning!</p>
                </header>

                <!-- <div class="feature-map">
                  <iframe src="https://mapsengine.google.com/map/embed?mid=zoR5zw7zzzKg.kwrZvD0h-LzY"></iframe>
                </div> -->

                <div class="row">
                 <div class="col-md-3">
                    <div class="team-block">
                      <div class="photo"><img src="images/accommodations/hyatt.gif" alt=""></div>
                      <div class="name-team">Hyatt Vineyard Creek</div>
                      <div class="team-footer">
                        <a class="book disabled" href="#page-accommodations">
                          <h3>Coming Soon <i class="fa fa-plus-circle"></i></h3>
                       </a>
                        <div class="team-social-icons">
                          <a href="http://twitter.com/" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                         <a href="http://www.linkedin.com/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                     <div class="team-block">
                      <div class="photo"><img src="images/accommodations/marriott.gif" alt=""></div>
                      <div class="name-team">Courtyard Marriott</div>
                        <div class="team-footer">
                        <a class="book disabled" href="#page-accommodations">
                          <h3>Coming Soon <i class="fa fa-plus-circle"></i></h3>
                       </a>
                        <div class="team-social-icons">
                        <a href="http://twitter.com/" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                         <a href="http://www.linkedin.com/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                       <div class="team-block">
                      <div class="photo"><img src="images/accommodations/airbnb.gif" alt=""></div>
                      <div class="name-team">AirBnb</div>
                        <div class="team-footer">
                        <a class="book" href="https://www.airbnb.com/s/170-Railroad-St--Santa-Rosa--CA-95401?checkin=08%2F14%2F2015&checkout=08%2F16%2F2015&guests=4&sw_lat=38.389968693199016&sw_lng=-122.76468235695802&ne_lat=38.479472430113084&ne_lng=-122.673186843042&zoom=13&search_by_map=true&ss_id=-h0acxe" target="_blank">
                          <h3>View Listings <i class="fa fa-plus-circle"></i></h3>
                       </a>
                        <div class="team-social-icons">
                          <a href="http://twitter.com/" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                         <a href="http://www.linkedin.com/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                       <div class="team-block">
                      <div class="photo"><img src="images/accommodations/other.gif" alt=""></div>
                      <div class="name-team">Other Options</div>
                        <div class="team-footer">
                        <a class="book" href="http://www.sonoma.com/stay/" target="_blank">
                          <h3>Explore <i class="fa fa-plus-circle"></i></h3>
                       </a>
                        <div class="team-social-icons">
                          <a href="http://twitter.com/" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                         <a href="http://www.linkedin.com/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </section><!-- team ends -->
<!-- faq begins -->
    <section id="page-faq" class="page-pricing">
      <div class="container">
                <header class="section-header">
                    <h2 class="section-title">FAQ<span class="faq-s">s</span></h2>
                    <div class="spacer"></div>

                    <p class="section-subtitle">We know our wedding is a little non-traditional and that you may have questions about expectations or even what to wear. <br>Don't worry we're here to help!</p>

                    <p class="question">Can you tell me about the Hindu ceremony?</p>
                    <p class="answer">The Hindu wedding ceremony is traditionally conducted in Sanskrit and in the local language of the family. Shiv's family is from Hyderabad, India where they speak Telugu. Hindus attach a lot of importance to weddings and celebrations may extend several days. We will be having the abridged version at our ceremony, lasting about one hour. We'll be handing out a program before the ceremony to help you follow along as well as explain each ritual.</p>

                    <p class="question">What should I wear to the Hindu ceremony?</p>
                    <p class="answer">Traditionally, ladies wear saris and men wear kurtas. This isn't necessary and a festive dress or suit is perfectly acceptable. Of course, bright colors are always encouraged!</p>

                    <p class="question">Can you tell me about the evening ceremony?</p>
                    <p class="answer">The evening ceremony will be a non-denominational ceremony incorporating many meaningful elements. This event will kick off the night portion of the day.</p>

                    <p class="question">What should I wear to the evening ceremony?</p>
                    <p class="answer">You'll be seated outside with shade on a grassy lawn overlooking vineyards. We encourage you to wear festive attire (be it Indian or western) and relax in the beauty of your surroundings.</p>

                    <p class="question">What advice can you offer someone flying into SFO/OAK?</p>
                    <p class="answer">Sonoma and Santa Rosa are about a one hour's drive up north. If you plan on renting a car, let them know that you'll be crossing any number of bridges and will either need a Fastpass or money to pay the toll ($5-$7 depending on which bridge you cross). If you are flying in on a weekday, please take into account traffic, which could easily double the length of your trip.</p>
                </header>
      </div>
    </section><!-- pricing ends -->
<!-- registry begins -->
     <section id="page-registry" class="page-contact">
          <div class="container">
              <header class="section-header">
                  <h2 class="section-title"><span>Registries</span></h2>
                    <div class="spacer"></div>
                       <p class="section-subtitle">Please check back closer to the date of the wedding. We are still working on them!</p>
              </header>


              <div class="row">

                        <div id="pricePlans">

                          <div class="col-md-6">
                          <ul id="plan1">
                            <li class="plan">
                              <ul class="planContainer">
                                <li class="title"><h2>Crate&Barrel</h2></li>
                                <li class="price"><p>Gifts for the home</p></li>
                                <li class="photo">
                                  <a href="#page-registry" class="registry disabled">Coming Soon</a>
                                </li>
                              </ul>
                            </li>
                            </ul> <!-- End ul#plans -->
                          </div>

                          <div class="col-md-6">
                          <ul id="plan2">
                            <li class="plan">
                              <ul class="planContainer">
                                <li class="title"><h2>Thankful Registry</h2></li>
                                <li class="price"><p>Gifts for everything else</p></li>
                                <li class="photo">
                                  <a href="#page-registry" class="registry disabled">Coming Soon</a>
                                </li>
                              </ul>
                            </li>
                            </ul> <!-- End ul#plans -->
                          </div>
                        </div>
                      </div>

        </div>
    </section> <!-- contact ends -->


        <script src="javascript/jquery-1.10.2.min.js"></script>
        <script src="javascript/jquery.plugin.min.js"></script>
        <script src="javascript/bootstrap.min.js"></script>
        <script src="javascript/jquery.queryloader2.min.js"></script>
        <script src="javascript/jquery.parallax-1.1.3.js"></script>
        <script src="javascript/jquery.flexslider.js"></script>
        <script src="javascript/jquery.scrollTo.js"></script>
        <script src="javascript/jquery.nav.js"></script>
        <script src="javascript/jquery.sticky.js"></script>
        <script src="javascript/jquery.vegas.min.js"></script>
        <script src="javascript/jquery.isotope.min.js"></script>
        <script src="javascript/jquery.magnific-popup.min.js"></script>
        <script src="javascript/jquery.countdown.min.js"></script>
        <script src="javascript/waypoints.min.js"></script>
        <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>
        <script src="javascript/main.js"></script>
        <script src="javascript/custom.js"></script>


    </body>
</html>
